.filtrador-genero {
    /* width: 30%; */
    padding: 20px 4%;
    margin-top: 5%; 
    margin-left: -1%;
    background-color: #696f8c;
    border-radius: 8px;
}
.filtrador-genero h2 {
    font-size: 16px;
    color: #eee;
    margin-bottom: 15px;
    font-weight: normal;
}

.lista-genero {
    list-style: none;
    padding: 0 0;
    margin: 0;
}

.genero {
    color: #eee;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
    border-top: 1px solid #eee;
    transition: color 0.2s ease;
}

.genero:hover {
    color: #61b1e7;
}

.genero:last-child {
    border-bottom: none;
}